.info {
    background: url("~@/assets/flower-background1.png") no-repeat;
    padding-bottom: 110px;
    background-size: cover;

    &-blocks {
        display:flex;
        flex-direction: row;
        flex-grow: 1;
        justify-content: space-around;
    }

    &-header {
        padding:60px 0 50px 0;
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 40px;
        text-align: center;
        color: #323630;
        width:450px;
        margin: 0 auto;
    }
    
}

.block {
    width:320px;

    &-image {
        border-radius: 100px;
        background: #FE9C9C;
        box-shadow: 0px 5px 15px rgba(139, 74, 74, 0.15);
        border-radius: 100px;
        width: 80px;
        height: 80px;
        text-align: center;
        margin: 0 auto;
    }

    &-header {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        margin-top:20px;
        color: #323630;
    }

    &-text {
        margin-top:20px;
        font-family: 'TT Norms';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 25px;
        text-align: center;
        color: #423737;
    }
}