// colors
$color-primary:     #FFEEEE;
$color-header:      #FFFFFF;
$color-secondary:   #5E0042;
$color-tertiary:    #005869;

$color-highlight:   #00856A;
$color-lowlight:    #8DB500;

$color-text:        #000;

// dimensions
$tablet: 768px;

$desktop-medium: 1440px;
$desktop-small: 900px;

$layout-max-width: 1260px;